
@{
    ViewData["Title"] = "StockIntel";
}

<head>

    <title>StockApp</title>
        
</head>
<body>
    <main>
        <h1>StockIntel</h1>
        <div>

        </div>
    </main>
    <script></script>
</body>



